html {
  height: 100%;
  width: 100%;
  background-color: #09C3DB;
 
  
}
.title{
  text-align: center;
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-family: 'Style Script', cursive;
  font-size: 75px;
  color:#dfae43;
}
